:root {
    --Raleway: 'Raleway', sans-serif;
    --Roboto: 'Roboto Mono', monospace;
    --background-color: #F5F5F5;
    --form-background-color:#B4B898 ;
    --form-button-color:#5A6445 ;
    --orange-highlight: #DE7E1f;
    --main-accent-color: #5A6445;
    --second-accent-color: #B4B898;
    --form-text-color: #F5F5F5;
}

body {
    font-family: var(--Raleway);
    background-color: var(--background-color);
    font-size: 1.25rem;
}

.portfolio-page__wrapper {
    min-height: 100vh;
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;

}

/* HEADER AND NAV STYLING*/
.header-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    margin: 4rem 4rem;
    cursor: pointer;
}

.portfolio-name {
    font-size: 2.5rem;
    color: var(--main-accent-color);
    margin: auto;
}

.portfolio__nav-item {
    font-size: 1.5rem;
    margin: 0 2rem;
}

.portfolio-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.portfolio__nav-button {
    background-color: var(--main-accent-color);
    padding: 10px 20px;
    border-radius: 30px;
    color: var(--background-color);
}

.portfolio__nav-button:hover {
    background-color: var(--second-accent-color);
    transition: 0.4s;
}

.portfolio-name:hover,
.portfolio__nav-icon:hover, .footer__name:hover {
    color: var(--second-accent-color);
    transition: 0.4s;
    cursor:pointer;
}

.portfolio__nav-icon {
    color: var(--main-accent-color);
}

/* LANDING*/
.landing-headshot {
    height: 480px;
    width: 380px;
    border-radius: 175px 175px 0 0;
    box-shadow: 5px 10px var(--orange-highlight);
}

.landing-headshot:hover,
.portfolio__nav-button:hover {
    box-shadow: 10px 10px var(--orange-highlight);
    transition: 0.4s;
}

.landing__wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.landing__text {
    margin: 2rem;
    width: 40%;
}

.landing__title,
.about__title,
.portfoliopage__title, .resume__title, .contact__title {
    font-size: 2.5rem;
}

.landing__name--color,
.landing__job-title--color {
    color: var(--main-accent-color);
}

.landing__subtitle {
    font-size: 1.5rem;
    text-indent: 2rem;
    margin: 1rem 0;
}

.landing__blurb,
.about__blurb {
    font-family: var(--Roboto);
}

/* ABOUT*/
.about-page__wrapper {
    display: flex;
    flex-direction: column;
    margin:0 20%;
}

.title__break {
    color: var(--main-accent-color);
}

.about__wrapper {
    margin: 4rem;
}
.about__title{
    margin:1rem 0;
}
.skills__wrapper {
    align-self: flex-end;
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.skill__container {
    background-color: var(--main-accent-color);
    height: 3.5rem;
    min-width:5rem;
    border-radius: 30px;
    display:flex;
    justify-content: center;
    align-items:center;
    color: var(--background-color);
}
.skills__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.skill__container {
    margin: 1rem;
    flex-basis: 25%;
    text-align: center;
}

.about__blurb {
    margin-left: 1rem;
}

/* PORTFOLIO*/
.portfolio__project-image,
.project-img {
    width: 600px;
    height: 380px;
    opacity: 85%;
}

.project-img {
    filter: grayscale(100%) contrast(1);
}

.project-img {
    background-color: var(--form-button-color);
}

.project-img:hover {
    opacity: 100%;
    mix-blend-mode: normal;
    transition: .03s;
    filter: grayscale(0%) contrast(1);
}

.portfoliopage__title {
    margin: 4rem;
    text-align: center;
}

.portfolio__projects {
    display: flex;
    flex-direction: column;
    margin: 4rem;
}

.portfolio__project--card {
    display: flex;
    flex-flow: row wrap;
    margin: 1rem;
    justify-content: center;
}

.portfolio__project--card-even {
    display: flex;
    flex-flow:row-reverse wrap;
    margin: 1rem;
    justify-content: center;
}

.portfolio__project--info {
    width: 40%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.portfolio__project--info-even {
    width: 40%;
    margin: 1rem;
}

.portfolio__icon {
    color: var(--main-accent-color);
    margin: 0.5rem 0.5rem;
}

.portfolio__project--description {
    background-color: var(--form-button-color);
    color: var(--background-color);
    padding: 1rem 1rem;
    margin: 1rem 0;
}

.project__skills--list {
    display: flex;
    flex-flow:row wrap;
    margin: 0.5rem 0;
}

.project__skills--list>li {
    margin: 0 0.5rem;
}
.project__title{
    color:var(--main-accent-color);
    font-weight:bolder;
    font-size:1.5rem;
}
/*CONTACT*/
.contact-page__wrapper{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}
.contact__title{ 
    margin: 1rem 0;
}
.contact__blurb{
    width:40%;
    margin:0 1rem;
}
.contact-form__container{
    background-color:var(--form-background-color);
    width:25rem;
    height:30rem;
    border-radius: 50px;
}
.contact-form__title{
    text-align: center;
    font-size:1.5rem;
    color:var(--form-text-color);
    margin: 1rem 0;
}
#contact-form{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}
#contact-form > div{
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100%;
}
.contactForm__button, #contact-form > input, #contact-form > textarea {
    border:none;
    border-radius:30px;
    margin:0.5rem;
}
#contact-form > textarea{
    resize:none;
    height:10rem;
}
#contact-form > textarea, #contact-form > input{
    text-indent:0.7rem;
}
#contact-form > label{
    align-self:flex-start;
    color:var(--form-text-color);
    font-weight:bolder;
}
#contact-form{
    margin: 0 4.5rem;
}
.contactForm__button{
    width: 40%;
    align-self:flex-end;
    height:2rem;
    background-color: var(--form-button-color);
    color:var(--form-text-color);
}
/*RESUME*/
.resume__page{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.resume__title{
    margin:1rem;
}
.pdf__wrap{
    width:60%;
}
.pdf__wrap > embed{
    width:100%;
}
/*FOOTER*/
footer {
    margin-top: auto;
    width: 70%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.footer__name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--main-accent-color);
}

.footer__small {
    font-size: 1rem;
    font-family: var(--Roboto);
}

.footer__break {
    background-color: var(--orange-highlight);
    width: 30%;
    height: 2.5px;
    border-width: 0;
    margin-bottom: 0.5rem;
}
.footer__contact{
    display:flex;
}
/*MEDIA QUERIES*/
@media (max-width: 1200px) {
    .portfolio__project--info, .portfolio__project--info-even {
        width: 600px;
    }
}
.portfolio__project--info{
    align-items:flex-start;
}
@media (max-width: 1010px) {
    .header-wrap {
        justify-content: center;
    }

    .portfolio-name {
        margin: 1rem;
    }

    .landing__text {
        width: 80%;
    }

    .landing__wrapper {
        margin-top: 3rem;
    }

    .footer__break {
        width: 60%;
    }

    .about__wrapper {
        width: auto;
    }

    .skills__wrapper {
        width: 100%;
    }
    .portfolio__project-image,
    .project-img {
    min-width: 600px;
    min-height: 380px;
    max-width: 600px;
    max-height: 380px;
    }
    .portfolio__project--info, .portfolio__project--info-even {
        width: 600px;
    }
    .portfolio__project--info{
        align-items:flex-start;
    }
    .about-page__wrapper{
        margin:0 5%;
    }
    .contact__blurb{
        width:80%;
        margin:2rem;
    }
    .pdf__wrap{
        width:100%;
    }
}

@media (max-width: 600px) {
    .landing-headshot {
        height: 460px;
        width: 360px;
    }
    .about-page__wrapper{
        margin:0rem;
    }
    .landing__wrapper, .contact-page__wrapper, .resume__page, .portfolio__wrapper, .about-page__wrapper {
        margin-top: 7rem;
    }

    .portfolio__nav-item {
        margin-top: 0.5rem;
    }

    .footer__break {
        width: 60%;
    }

    .footer__small {
        margin: auto;
        text-align: center;
    }

    .skill__container {
        flex-basis: 40%;
    }
    .project-img, .portfolio__project-image{
        min-width:331px;
        min-height:207px;
        max-width:331px;
        max-height:207px;
    }
    .portfolio__project--info, .portfolio__project--info-even {
        min-width: 331px;
    }
    .contact-form__container{
        margin:1.5rem;
    }
    .pdf__wrap{
        width:100%;
    }
    .contact-form__container{
        width:23rem;
        height:28rem;
    }
    #contact-form{
        margin: 0 1.5rem;
    }
}

@media (max-width: 400px) {
    .skill__container {
        flex-basis: 50%;
    }
    footer {
        width:100%;
        padding:0;
    }
}