:root {
    --Montserrat: 'Montserrat', sans-serif;
    --NunitoSans: "Nunito", sans-serif;
    --Roca: "roca", sans-serif;
    --background-color: #F5F5F5;
    --form-background-color:#B4B898 ;
    --form-button-color:#5A6445 ;
    --orange-highlight: #CD6B34;
    --main-accent-color: #5A6445;
    --main-second-dark: #76775B;
    --second-accent-color: #B4B898;
    --form-text-color: #F5F5F5;
}
/*GENERAL */
body {
    font-family: var(--NunitoSans);
    background-color: var(--background-color);
    font-size: 1.25rem; 
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.portfolio-page__wrapper {
    min-height: 100vh;
    height: 100%;
}
h1, h2, h3, .footer__name {
    font-family: var(--Roca);
}
h4, h5, h6,.portfolio__nav-item {
    font-family: var(--Montserrat);
}
p, li{
    line-height:1.5rem;
}
.landing__title,
.about__title,
.portfoliopage__title, .resume__title, .contact__title, .caseStudy__title {
    font-size: 3rem;
}
h2{
    font-size:2.25rem;
}
h3 {
    font-size:2rem;
}
h4 {
    font-size:1.75rem;
}
.small-text, .label-text{
    font-size: .9rem;
}
.label-text{
    font-weight:700;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
/* SCROLL TO TOP BUTTON */
.scrollButton{
    display: none; 
    position: fixed; 
    bottom: 2rem; 
    right: 3rem; 
    z-index: 99; 
    padding: 15px; 
    border-radius: 15px 15px 0 0;
    border: none; 
    cursor: pointer;
    transition: bottom 0.3s ease;
    color:black;
    background-color: var(--second-accent-color);
}

.scrollButton:hover{
    background-color: var(--main-accent-color);
    color: white;
}

/* HEADER AND NAV STYLING*/
.header-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    margin: 2rem 4rem;
    cursor: pointer;
}
.active {
    font-weight:700;
}
.portfolio-name {
    font-family:var(--Roca);
    font-size: 2.5rem;
    font-weight:700;
    color: var(--main-accent-color);
    
}
.portfolio-name__span{
    font-weight:300;
    color:black;
}

.portfolio__nav-item {
    font-size: 1.5rem;
    margin: 0 2rem;
}
.portfolio__nav-item:hover{
    font-weight: 700;
    transition: 0.4s;
}
.portfolio-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.portfolio__nav-button {
    background-color: var(--main-accent-color);
    padding: 10px 20px;
    border-radius: 30px;
    color: var(--background-color);
}

.portfolio__nav-button:hover {
    background-color: var(--second-accent-color);
    transition: 0.4s;
    font-weight: 700;
    color:black;
}

.portfolio-name:hover,
.portfolio__nav-icon:hover, .footer__name:hover {
    color: var(--second-accent-color);
    transition: 0.4s;
    cursor:pointer;
}

.portfolio__nav-icon {
    color: var(--main-accent-color);
}
/* MOBILE NAV*/
.mobile-nav__menu{
    display:none;
}
.offcanvas {
    background-color: var(--main-accent-color);
}
.portfolio__nav-item-m, .portfolio-name__span-m, .mobile-nav-close{
    color:var(--background-color);
}
.btn-close{
    background-image: none;
    opacity: 100%;
}
.portfolio-name-m{
    color:var(--second-accent-color);
}

/* LANDING*/
/* Layout */
.landing__wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.landing__text {
    margin: 2rem;
    width: 40%;
}

.landing__blurb,
.about__blurb {
    margin-bottom:1rem;
}

.landing-headshot {
    height: 480px;
    width: 380px;
}

/*Typography*/
.landing__subtitle {
    font-size: 1.5rem;
    text-indent: 2rem;
    margin: 1rem 0;
}

/*Visual */
.landing-headshot, .about-hero {
    border-radius: 175px 175px 0 0;
    box-shadow: 5px 10px var(--orange-highlight);
}

.landing-headshot:hover,
.portfolio__nav-button:hover, .about-hero:hover, .scrollButton:hover {
    box-shadow: 10px 10px var(--orange-highlight);
    transition: 0.4s;
}

.landing__name--color,
.landing__job-title--color {
    color: var(--main-accent-color);
}

/* ABOUT*/
/* Layout*/
.about-hero__wrapper{
    display:flex;
    justify-content: center;
}
.about-page__wrapper {
    display: flex;
    flex-direction: column;
    margin:0 20%;
}
.about__wrapper, .moreabout__wrapper {
    margin: 3rem;
}
.moreabout__wrapper{
    width:50%;
    align-self:flex-end;
}

.about-hero{
    width:70%;
    height:auto;
}

.title__break {
    color: var(--main-accent-color);
}

.about__title{
    margin:1rem 0;
}
.skills__title{
    margin:4rem 0;
    width:100%;
}
.skills__wrapper {
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
}
.skills__card {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding:2rem 1rem;
    margin:0 1rem;
    color:white;
    height:27rem;
    flex-basis:23rem;
}
.skills__card-web{
    border-radius: 150px 0 150px 0;
    background-color:var(--main-accent-color);
}
.skills__card-dev{
    border-radius: 0 150px 0 150px;
    background-color: var(--main-second-dark);
}
.skills__list{
    align-self:flex-start;
    padding:1rem 1.5rem;
    width:100%;
}
.skills__card-title{
    margin:1rem;
}
/* PORTFOLIO*/
.portfolio__project-image,
.project-img {
    width: 600px;
    height: 380px;
    border-radius: 50px;
}

.portfoliopage__title {
    margin: 4rem;
    text-align: center;
}

.portfolio__projects {
    display: flex;
    flex-direction: column;
    margin: 4rem;
}

.portfolio__project--card {
    display: flex;
    flex-flow: row wrap;
    margin: 1rem;
    justify-content: center;
}

.portfolio__project--card-even {
    display: flex;
    flex-flow:row-reverse wrap;
    margin: 1rem;
    justify-content: center;
}

.portfolio__project--info {
    width: 40%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.portfolio__project--info-even {
    width: 40%;
    margin: 1rem;
}

.portfolio__icon {
    color: var(--main-accent-color);
    margin: 0.5rem 0.5rem;
}

.portfolio__project--description {
    background-color: var(--form-button-color);
    color: var(--background-color);
    padding: 1.5rem;
    margin: 1rem 0;
}

.project__skills--list, .caseStudy__skills--list {
    display: flex;
    flex-flow:row wrap;
}

.project__skills--list>li {
    margin: 0 0.5rem;
}

ul {
    padding:0;
}
.portfolio-case__link{
    color: var(--orange-highlight);
    text-decoration: underline;
}
.portfolio-case__link:hover{
    font-weight:700;
}

.project__title{
    color:var(--main-accent-color);
    font-weight:bolder;
    font-size:1.5rem;
}
/*CASE STUDY*/
.case-study__wrapper{
    margin:4rem;
}
/*INTRO*/
.projectIntroCS__wrapper{
    display:flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-items: center;
}
.rightCS__wrapper, .leftCS__wrapper{
    align-self: start;
    
}
.rightCS__wrapper{
    flex-flow: row wrap;
}
.leftCS__wrapper{
    flex-flow: row-reverse wrap;
}
.case-study__component--margin{
    margin: 1rem;
}
.projectIntro--text-wrap{
    margin:1rem;
    min-width:40%;
    width:40%;
}
.projectIntro--image, .imgDescription{
    border-radius: 50px ;
    width: 600px;
    height: auto;
    flex-grow:1;
}
.imgDescription{
    margin:0.5rem 0;
}
.case-study-text{
    margin:2rem 0;
}
/*CONTACT*/
.contact-page__wrapper{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
}
.contact__title{ 
    margin: 1rem 0;
}
.contact__blurb{
    width:40%;
    margin:0 1rem;
}
.contact-form__container{
    background-color:var(--form-background-color);
    width:30rem;
    height:33rem;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.contact-form__title{
    text-align: center;
    font-size:1.5rem;
    margin: 1rem 0;
}
#contact-form{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    width:100%;
}
#contact-form > div{
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100%;
}
.contactForm__button, #contact-form > input, #contact-form > textarea {
    border:none;
    border-radius:30px;
    margin:0.75rem;
}
#contact-form > textarea{
    resize:none;
    height:10rem;
    
}
#contact-form > textarea, #contact-form > input{
    text-indent:1.25rem;
    width:100%;
    margin: 1rem 0;
    padding:0.5rem;
}
#contact-form > label{
    align-self:flex-start;
    font-weight:bolder;
}
#contact-form{
    margin: 0 3.5rem;
}
.contactForm__button{
    width: 50%;
    align-self:flex-end;
    padding:1rem 0;
    background-color: var(--form-button-color);
    color:var(--form-text-color);
}
.contactForm__button:hover{
    width:55%;
    font-weight: 700;
    transition: 0.5s;
    background-color:#515A3D;
}
/*RESUME*/
.resume__page{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.resume__title{
    margin:1rem;
}
.pdf__wrap{
    width:60%;
}
.pdf__wrap > embed{
    width:100%;
}
/*FOOTER*/
footer {
    margin-top: auto;
    width: 70%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.footer__name {
    font-size: 2rem;
    margin:0;
    color: var(--main-accent-color);
}

.footer__small {
    font-size: 1rem;
    font-family: var(--Roboto);
}

.footer__break {
    background-color: var(--orange-highlight);
    width: 30%;
    height: 2.5px;
    border-width: 0;
    margin: 0.5rem;
}
.footer__contact{
    display:flex;
    margin:0.5rem;
}
/*MEDIA QUERIES*/
@media (max-width: 1200px) {
    .portfolio__project--info, .portfolio__project--info-even {
        width: 600px;
    }
    .projectIntro--text-wrap{
        flex-grow:1;
    }
}
.portfolio__project--info{
    align-items:flex-start;
}
@media (max-width: 1024px) {
    .header-wrap {
        justify-content: center;
    }

    .portfolio-name {
        margin: 1rem;
    }

    .landing__text {
        width: 80%;
    }

    .landing__wrapper {
        margin-top: 3rem;
    }

    .footer__break {
        width: 60%;
    }

    .about__wrapper, .moreabout__wrapper {
        width: auto;
    }

    .skills__wrapper {
        width: 100%;
    }
    .portfolio__project-image,
    .project-img {
    min-width: 600px;
    min-height: 380px;
    max-width: 600px;
    max-height: 380px;
    }
    .portfolio__project--info, .portfolio__project--info-even {
        width: 600px;
    }
    .portfolio__project--info{
        align-items:flex-start;
    }
    .about-page__wrapper, .case-study__wrapper{
        margin:0 5%;
    }
    .contact__blurb{
        width:80%;
        margin:2rem;
    }
    .pdf__wrap{
        width:100%;
    }
    .portfolio__nav-item {
        margin:1rem 0;
    }
    .header-wrap, .offcanvas-header{
        margin:0rem 1rem;
        height:10rem;
    }
    .mobile-nav{
        display:flex;
        justify-content: space-between;
        align-items:center;
        width:100%;
    }
    .portfolio-nav{
        flex-flow:column;
    }
    .mobile-nav__menu{
        display:block;
    }
    .portfolio-nav-hidden{
        display: none;
    }
    .about-hero{
        width:90%;
        margin:1rem;
    }
    .skills__title{
        margin: 1rem 4rem;
    }
    .skills__card{
        margin:1rem;
    }
    .projectIntro--image, .imgDescription{
        width:100%;
    }
}

@media (max-width: 600px) {
    .landing-headshot {
        height: 460px;
        width: 360px;
    }
    .about-page__wrapper, .case-study__component--margin{
        margin:0rem;
    }

    .footer__break {
        width: 60%;
    }

    .footer__small {
        margin: auto;
        text-align: center;
    }
    .project-img, .portfolio__project-image{
        min-width:331px;
        min-height:207px;
        max-width:331px;
        max-height:207px;
    }
    .portfolio__project--info, .portfolio__project--info-even {
        min-width: 331px;
    }
    .contact-form__container{
        margin:1.5rem;
    }
    .pdf__wrap{
        width:100%;
    }
    .contact-form__container{
        width:23rem;
        /* height:28rem; */
    }
    #contact-form{
        margin: 0 1.5rem;
    }
    .about-hero{
        border-radius:100px 100px 0 0;
    }
    .scrollButton{
        bottom:1rem;
        right:1rem;
    }
    .projectIntro--text-wrap{
        margin: 1rem 0;
    }
}

@media (max-width: 400px) {
    footer {
        width:100%;
        padding:0;
    }
}